$main-color: #35647e;
$main-color-light: #7090A2;
$link-hover-color: #8DAFC2;
$border-bottom-color: #e2e2e2;
$border-radius: 5px;

$box-shadow-card: 1px 1px 1px 1px #eee;

$light-text-color: #fff;
$dark-text-color: #1E252B;
$ad-text-color: #666;

$offcanvas-horizontal-width: 300px;

$footer-bg-color: #DFE4E6;