//左邊分類標籤
.topic-nav-wrap {
    padding: 1em 0;
    .topic-tag {
        height: 30px;
        width: auto;
        border-radius: $border-radius;
        background-color: #eee;
        h1 {
            font-size: 0.8em;
        }
    }  
    .tag-active {
        .topic-tag{
            background-color: $link-hover-color;
            h1 {
               color: #fff;  
            }        
        }
    }    
}
@media (min-width: 576px) {
    .topic-nav-wrap {
        .uk-slider-items {
            flex-direction: column;
            & > li {
                padding-left: 0;
                padding-top: 15px;
            }
        }
        .slidenav-icon {
            display: none;
        }
    }
}

//Right Card Content
.main-card {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 1.5em 0;
            position: relative;
            display: flex;
            align-items: start;
            .topic-tag-icon {
                display: inline-block;
                color: #fff;
                width: 70px;
                padding: 0.5em 1em;
                box-shadow: 2px 2px 2px 2px #ddd;
                margin-top: 10px;
                margin-right: -10px;
                transform:rotate(1deg);
                position: relative;
                z-index: 0;
                font-size: 0.9em;
            }
        }
        .card-content {
            width: 80%;
            background-color: #fff;
            padding: 1em;
            border-radius: $border-radius;
            position: relative;
            box-shadow: $box-shadow-card;
            z-index: 1;
            transition: all .15s ease-in-out;
            a {
                text-decoration: none;
            }
            .title {
                font-size: 1.3em;
                margin-bottom: 0.5em;
                color:  #242A30;
            }
            .intro-content {
                color: #666;
                border-bottom: 1px solid #eee;
                padding-bottom: 0.5em;
                margin-bottom: 0.5em;
            }
            .dateTime-content, .location-content {
                color: $main-color;
                margin: 1em 0 0;
            }
            &:hover {
                box-shadow: 1px 1px 1px 1px #ddd;
                transform: translateY(-2px);
            }
        }        
    }
}